html{
    background-color: rgb(61, 58, 63);
    color: rgb(218, 150, 63);
    
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    list-style: none;
   
  }
  .nav-item{
    padding: 0 20px;
    line-height: 50px;

  }
  .nav-link {
    text-decoration: none;
    color: #cdd7df;
    transition: color 0.5s;
  }
  
  .nav-link:hover {
    color: #8d8d8d;
  }
  .foto
  {
    width: 27%; /* Ширина */
    float: left; /* Выстраиваем элементы по горизонтали */
    margin: 0 0 0 3.5%; /* Отступ слева */
    background: #f0f0f0; /* Цвет фона */
    border-radius: 5px; /* Радиус скругления */
    padding: 2%; /* Поля */
  }