html {
    color: rgb(237, 225, 225);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    /* смешно выравняло в ряд*/
    flex-direction: column;
    /* флекс направл - столбец, уже не смешно делает*/
    justify-content: space-between;
    /* это ради футера что бы элем прилип к концу*/
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.header {
    background-color: rgb(5, 5, 5);
    /* в контейнер хэдр выставляем дааный что бы в по центр а тут не действует это */
}

main {
    background-color: rgb(61, 58, 63);
}

.nav {
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-item {
    padding: 0 10px;
    line-height: 50px;

}

.nav-link {
    text-decoration: none;
    color: #cdd7df;
    transition: color 0.5s;
}

.nav-link:hover {
    color: #00d254;
}

.foto {
    width: 200px;
    padding-top: 150px;
    line-height: 5%;
}

.name_first {
    font-weight: lighter;
    color: #1a9a0f;

}

.name {

    display: inline-block;
    padding-top: 10px;
    padding-left: 150px;
    line-height: 90%;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #ffffff;
}

.container {
    max-width: 960px;
    height: 100vh;
    margin: 0 auto;
}

.containerheader,
.container_inbox {
    width: 960px;
    margin: 0 auto;
    /*центри-вать элемент внутри своего родителя, использов margin: 0 auto;*/
    letter-spacing: 1px;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
    padding-left: 20px;
}

ul {
    padding-left: 20px;
    /* Отступ слева*/
}

h2 {
    padding-left: 40px;
    font-weight: bold;
    color: #00d254;

}

p {
    padding-left: 80px;
}

.link {
    text-decoration: none;
    color: inherit;
    /*нет цвета у ссылки*/
}

.footer {
    height: 100px;
    background-color: rgb(85, 85, 87);
}

.footercontent {
    width: 960px;
    margin: 0 auto;
    display: flex;
    /*в ряд выравняла ссылки*/

}

.logo {
    height: 60px;
}

.linkfooter {
    text-decoration: none;
}

.link_mygit,
.year {
    text-decoration: none;
    color: #e9e9eb;
    text-transform: uppercase;
}